.trends
  padding-top: 50px
  padding-bottom: 50px
  &-wrapper
    display: flex
    align-items: flex-start
  &-reference
    display: flex
    align-items: flex-start
    flex-direction: column
    width: 77.5%
    &__title
      font-family: 'Roboto Bold'
      font-weight: bold
      font-size: 32px
      line-height: 40px
      letter-spacing: -2.2px
      margin-top: 0
      margin-bottom: 30px
      margin-left: 2px
    &__wrapper
      display: flex
      flex-wrap: wrap
      margin-left: 2px
    &__item
      display: flex
      width: 358px
      border: 1px solid $border-colors
      border-radius: 8px
      padding: 11px 11px 11px 11px
      margin-bottom: 30px
      margin-right: 32px
      &:nth-child(5)
        margin-bottom: 25px
      &:nth-child(6)
        margin-bottom: 25px
    &__img
      width: 160px
      height: 238px
      margin-right: 20px
    &__price
      flex-basis: 100%
      font-weight: bold
      font-size: 20px
      line-height: 24px
      font-family: 'Roboto Bold'
      margin-top: 0
      margin-bottom: 23px
      color: $button-colors
      letter-spacing: -1.2px
      &-img
        width: 18px
        height: 21px
        margin-top: 11px
    &__subtitle
      font-weight: 500
      font-size: 22px
      line-height: 32px
      font-family: 'Roboto Medium'
      letter-spacing: 0.2px
      color: $title-colors
      margin-top: 12px
      margin-bottom: 16px
    &__text
      font-size: 16px
      line-height: 22px
      flex-basis: 100%
      margin-top: 0
      margin-bottom: 24px
    &__button
      font-family: 'Roboto Bold'
      font-size: 16px
      line-height: 20px
      text-transform: uppercase
      color: $button-colors
      background-color: $btn-trends-colors
      border: none
      border-radius: 8px
      padding: 24px 283px 27px 287px
      letter-spacing: -1.2px
      cursor: pointer
  &-price
    display: flex
    justify-content: space-between
    width: 141px
  &__btn
    &-price
      font-weight: bold
      font-size: 16px
      line-height: 22px
      color: $btn-text-colors
      background-color: $title-colors
      border-radius: 2000px
      padding: 6px 21px 6px 18px
      margin-left: -3px
      letter-spacing: 0.66px
      cursor: pointer
      &--ml-1
        margin-left: 1px
      &--ml-2
        margin-left: 0px
      &--ml-3
        margin-top: 3px
        margin-left: 1px
      &--ml-4
        margin-top: 2px
        margin-left: 1px
      &--ml-5    
        margin-top: 3px
        margin-left: 1px
  &-top
    &-wrapper
      background-color: $book-colors
      border-radius: 8px
      padding: 24px
    &__title
      font-family: 'Roboto Bold'
      margin-top: 0
      font-size: 32px
      line-height: 40px
      letter-spacing: -1.8px
      margin-left: -2px
      margin-bottom: 30px
    &__item
      display: flex
    &__img
      width: 120px
      height: 178px
      