@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/e/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/e/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Medium';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('/e/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/e/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'),
        url('/e/fonts/OpenSans.woff2') format('woff2'),
        url('/e/fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

