*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  color: $title-colors

.container
  max-width: 1140px
  margin: auto

img
  width: 100%

.button
  &-clear
    font-weight: bold
    font-size: 16px
    line-height: 22px
    background-color: transparent
    color: $button-colors
    border-radius: 8px
    border: 2px solid $button-colors
  &-price
    background-color: #1565D8
    border-radius: 8px
    font-weight: bold
    font-size: 16px
    line-height: 22px
    border: 2px solid $button-colors
    color: $btn-text-colors

.logo
  width: 90px
  height: 28px

.indend
  height: 1947px

{aria-disabled="false"