$text-colors: #5A7184
$title-colors: #183B56
$button-colors: #1565D8
$btn-text-colors: #ffffff
$title-color-head: #FAAD13
$book-colors: #f8f8f9
$border-colors: #ECEEF2
$btn-trends-colors: #e8f0fb
$fon-colors: #B3BAC5
$#C3CAD9